{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
 
  padding: 20px;
  
  text-align: center;
}
@media screen and (min-width: 750px) {
  
}
</style>

<div class="container grid-container">
  {{#each products}}
  <div class="grid-item">
      
      <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.desc}}</p>
                <a href="#" class="btn btn-primary">Go Preview</a>
            </div>
        </div>
       
  </div>
  {{/each}} 
 </div>
